#changeheight{
    height:13em;
}
.layout{
    height: 100vh;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    position: absolute;
}


.makeitcenter{
    display: grid;
    justify-content: center;
}
.im{
    width: 100%;
    height: 300px;
    
}
.navi{
    margin-top: 10px;
    background-color: #422e0f;
    margin-bottom: 6px;
    position: fixed;
    z-index: 10;
    right:40%;
    border-radius: 30px;
    width: 20%;
    
    
}
.upc{
    display:flex;
    justify-content: center;
    font-weight: 1200;
    margin-top: 50px;
    margin-bottom: 50px;
}
.aboutuscontent{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    margin-left: 7em;
    margin-right: 7em;
    font-weight: 300;
    font-style: bold;
    text-align: justify;

}
#video{
    width:100%;
    object-fit:cover;
    z-index: -1;
    
}
.card-title{
    display:flex;
    justify-content: center;
    margin-top: 7px;
    font-size: 1.5em;
    font-weight: 1200;
}
.card{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    
}
.card-body{
    display: flex;
    justify-content: center;
}
#blcard{
    background-color: #e4eaef;
}
.blogtitle{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    font-size: 35px;
}
.blogdesc{
    display:flex;
    justify-content: center;
    margin-top:20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-left: 2em;
    margin-right: 2em;
    text-align: justify;
}
.blogimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    
}
.blogtag{
    display: flex;
    justify-content: center;
}
#bot{
    position: fixed;
    bottom:10%;
    right: 3%;
    
    height:60px;
    width:60px;
    border-radius: 20px;
    z-index: 99;
}
#bot:hover{
    height:70px;
    width:70px;
}
@media only screen and (max-width: 800px) {
    .aboutuscontent{
        
        margin-left: 1.5em;
        margin-right: 1.5em;
        
    
    }
  }